example
.gitattributes
ios/ApsaraPlayer.xcworkspace/xcuserdata/
ios/ApsaraPlayer.xcodeproj/xcuserdata/
ios/ApsaraPlayer.xcodeproj/project.xcworkspace/xcuserdata/
.idea
.gradle
android/build
local.properties
*.iml
yalc*
